@font-face {
  font-family: "henryblue";
  src: url("./fonts/HenryBlue-Regular.ttf");
}

@font-face {
  font-family: "henryred";
  src: url("./fonts/HenryRed-Regular.ttf");
}

:root {
  --hor-right: 90%;
}

* {
  color: black;
  margin: 0;
  padding: 0;
}

#nav {
  z-index: 10;
  color: black;
  margin-top: 1%;
  margin-bottom: 1%;
  text-align: center;
  word-spacing: 2em;
}

#navel {
  font-size: 2em;
}

#georgia {
  font-size: 18ch;
  color: greenyellow;
  text-align: center;
}

#georgia a {
  color: rgb(156, 241, 28);
}

#maintitle {
  width: 0;
  position: absolute;
  font-size: 4em;
  animation-name: hor-movement, ver-movement;
  animation-duration: 4.141s, 4.614s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

@keyframes hor-movement {
  from {
    left: 2em;
  }
  to {
    left: calc(100% - 4em);
  }
}
  
@keyframes ver-movement {
  from {
    top: 1em;
  }
  to {
    top: calc(100% - 2em);
  }
}

#darkbutton {
  z-index: 200;
  position: absolute; 
  left: 95%;
}

#splashtext {
  z-index: 100;
  padding-top: 5px;
  font-size: 1.5em;
  font-family: 'VT323', monospace;
  position: absolute;
  left: 55%;
  color: #F9FA21;
  text-shadow: 2px 2px #403F00;
  top: 4%;

  animation-name: splash;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

@keyframes splash {
  from {
    transform: scale(1) rotate(345deg);
  }
  to {
    transform: scale(1.1) rotate(345deg);
  }
}

#darkbutton button {
  all: unset;
  cursor: pointer;
}

#deeper {
  color: white;
  position: absolute; 
  top: 80%; 
  left: 80%;
}

.eyes {
  font-family: "henryred";
  font-size: 2em;
  color: white;
  position: absolute; 
}

#links {
  word-spacing: 3em;
  text-align: center;
}

#links a {
  font-size: 4em;
  text-decoration: none;
}

#links div {
  bottom: 6em;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
}

#spinny {
  color: #403F00;
  font-family: Arial, Helvetica, sans-serif;
  width: auto;
  top: 50%;
  height: 1.3em;
  word-spacing: 0;
}

#colouroftheday {
  margin: auto;
  width: 8em;
  height: 8em;
}

#colourcountdown {
  margin: auto;
  text-align: center;
}

#moretocome {
  color: white;
  transform: rotate(9deg);
  position: absolute;
  left: 11%;
  top: 21%;
}

#void-items {
  font-size: 3em;
}

#snowman a {
  text-decoration: none;
  color: white;
  position: absolute;
  transform: rotate(6deg);
  left: 43%;
  top: 12%;
}

#pictures a {
  text-decoration: none;
  color: white;
  position: absolute;
  transform: rotate(-23deg);
  left: 19%;
  top: 51%;
}

#songoftheday {
  color: white;
  position: absolute;
  transform: rotate(17deg);
  left: 70%;
  top: 6em;
}

#songoftheday a {
  text-decoration: none;
  color: white;
}

#snowmantext {
  margin-left: 2em;
}

#pastsongs {
  color: white;
}

#pastsongs a {
  color: white;
  text-decoration: underline;
}

#colourcalender {
  width: 69%;
  height: 20px;
  margin: auto;
  font-size: 0.7em;
  visibility: hidden;
}

#work-items {
  margin-left: 8%;
  margin-right: 8%;
  border-style: solid;
  border-width: 25px;
  border-image-source: url(pictures/ladybugB.png);
  border-image-repeat: round;
  border-image-slice: 33%;
  position: relative;
  font-size: 2em;
  text-align: center;
}

.work-item {
  font-family: 'henryblue';
  margin-left: 5%;
  margin-right: 5%;
  background-color: aliceblue;
}

.work-item img {
  margin-top: 10px;
}

.deep-back {
  color: white;
  font-size: 24px;
}

#picz {
  display: flex;
  margin-left: 10%;
  margin-right: 10%;
  justify-content: center;
  align-items: center;
}

#picz img {
  padding: 8px;
  display: inline-block;
  object-fit: cover;
  width: 25%;
  max-height: 220px;
  min-height: 10%;
}

#calenderbutton {
  all: unset;
  cursor: pointer;
}

.gheart {
  color: hsl(4, 70%, 52%);
  font-size: 2em;
  top: 0;
  position: absolute;
  animation-name: heart-movement;
  animation-duration: 4.141s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-timing-function: linear;
}

@keyframes heart-movement {
  from {
    top: -50em;
  }
  to {
    top: 150%;
  }
}

.calenderitem {
  background-color: #F9FA21;
  width: 8em;
  height: 8em;
  display: inline-block;
  margin: 5px;
}

.bottom {
  font-size: larger;
  bottom: 0;
  position: fixed;
  width: 100%;
  text-align: center;
}

.subgeorgia {
  text-align: center;
  font-size: 2em;
}

#pics {
  height: auto;
  display: grid;
  justify-content: center;
  align-items: center;
  width: 100%;
}

#pics img {
  z-index: -10;
  width: 16em;
  height: 16em;
  margin-top: 16px;
}

.imgbounds {
  text-align: center;
  z-index: -10;
  position: absolute;
  width: 100%;
  height: 5em;
}

.imgbounds .img-top {
  opacity: 0;
  position: absolute;
  z-index: 99;
  transform: translate(-250px, 0);
}

.imgbounds .img-top:hover {
  opacity: 1;
  display: inline;
  z-index: 99;
}