@font-face {
  font-family: "henryblue";
  src: url("./fonts/HenryBlue-Regular.ttf");
}

@font-face {
  font-family: "henryred";
  src: url("./fonts/HenryRed-Regular.ttf");
}

:root {
  --hor-right: 90%;
}

* {
  color: black;
  margin: 0;
  padding: 0;
}

#nav {
  z-index: 10;
  color: black;
  margin-top: 1%;
  margin-bottom: 1%;
  text-align: center;
  word-spacing: 2em;
}

#navel {
  font-size: 2em;
}

#georgia {
  font-size: 18ch;
  color: greenyellow;
  text-align: center;
}

#georgia a {
  color: rgb(156, 241, 28);
}

#maintitle {
  width: 0;
  position: relative;
  font-size: 4em;
  animation-name: hor-movement, ver-movement;
  animation-duration: 4.141s, 4.614s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

@keyframes hor-movement {
  from {
    left: 2em;
  }
  to {
    left: calc(100% - 4em);
  }
}
  
@keyframes ver-movement {
  from {
    top: 0;
  }
  to {
    top: 10em;
  }
}

#darkbutton {
  position: absolute; 
  left: 95%;
}

#splashtext {
  z-index: 100;
  padding-top: 5px;
  font-size: 1.5em;
  font-family: 'VT323', monospace;
  position: absolute;
  left: 55%;
  color: #F9FA21;
  text-shadow: 2px 2px #403F00;
  top: 4%;

  animation-name: splash;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

@keyframes splash {
  from {
    transform: scale(1) rotate(345deg);
  }
  to {
    transform: scale(1.1) rotate(345deg);
  }
}

#darkbutton button {
  all: unset;
  cursor: pointer;
}

#deeper {
  color: white;
  position: absolute; 
  top: 80%; 
  left: 80%;
}

.eyes {
  font-family: "henryred";
  font-size: 2em;
  color: white;
  position: absolute; 
}

#links {
  word-spacing: 3em;
  height: 50%;
  margin-top: 10em;
  text-align: center;
}

#links a {
  font-size: 4em;
  text-decoration: none;
}

#colouroftheday {
  margin: auto;
  width: 8em;
  height: 8em;
}

#colourcountdown {
  margin: auto;
  text-align: center;
}

#songoftheday {
  transform: rotate(17deg);
  color: white;
  font-size: 3em;
  position: absolute;
  margin-left: 70%;
  margin-top: 6em;
}

#songoftheday a {
  text-decoration: none;
  color: white;
}

#pastsongs a {
  text-decoration: underline;
}

.bottom {
  font-size: larger;
  bottom: 0;
  position: fixed;
  width: 100%;
  text-align: center;
}

.subgeorgia {
  text-align: center;
  font-size: 2em;
}

.imgbounds {
  text-align: center;
  z-index: -10;
  position: relative;
  width: 100%;
  height: 5em;
}

.imgbounds .img-top {
  opacity: 0;
  position: absolute;
  z-index: 99;
  transform: translate(-250px, 0);
}

.imgbounds .img-top:hover {
  opacity: 1;
  display: inline;
  z-index: 99;
}