@font-face {
  font-family: "henryblue";
  src: url("./HenryBlue-Regular.ttf");
}

@font-face {
  font-family: "henryred";
  src: url("./HenryRed-Regular.ttf");
}

* {
  color: black;
  margin: 0;
  padding: 0;
}

#nav {
  color: black;
  margin-top: 1%;
  margin-bottom: 1%;
  font-size: 3ch;
  text-align: center;
  word-spacing: 30px;
}

#georgia {
  font-size: 18ch;
  color: greenyellow;
  text-align: center;
}

#maintitle {
  font-size: 40px;
  animation-name: hor-movement, ver-movement;
  animation-duration: 4.141s, 4.614s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

@keyframes hor-movement {
  from {
    margin-left: 10%;
  }
  to {
    margin-left: 90%;
  }
}
  
@keyframes ver-movement {
  from {
    margin-top: 0%;
  }
  to {
    margin-top: 40%;
  }
}

.image {
  animation-name: hor-movement, ver-movement;
  animation-duration: 3.141s, 3.414s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
  animation-timing-function: linear;
}

.bottom {
  font-size: larger;
  bottom: 0;
  position: fixed;
  width: 100%;
  text-align: center;
}

.subgeorgia {
  text-align: center;
  font-size: 2em;
}

.bounds {
  top: 0%;
  width: 80%;
  margin-bottom: 200px;
}